<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Repositories</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.repos.size %> (<%= link_to 'View Repos', user_repos_path(user) %>)</td>
        <td><%= link_to "Delete", user_path(user), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New User', new_user_path %>
